body { 
	font-family: Arial, sans-serif;
	padding: 60px;
	padding-top: 0.9rem;
	padding-bottom: 0.25rem; }

.section-container {
	border: 0.01rem solid gray;
	border-radius: 0.5rem;
	background-color: white;
	padding: 1.25rem;
	margin-bottom: 0.5rem;
	box-shadow: 0 1.88rem 2.5rem rgba(0,0,0,.1);
}

.top-skill-container {
	display: flex; 
	align-items: center; 
	gap: 0.8rem; 
	padding-bottom: 0.63rem;
	margin-top: 0rem;
}

.input-group {
	display: flex; 
	align-items: flex-end; 
	gap: 0.94rem; 
	font-size: 1.5rem; 
	font-weight: bold;
	flex-shrink: 0; /* Prevents the boxes from shrinking */
}

.input-box {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
}

.input-box label {
	font-size: 14px; 
	margin-bottom: 5px; 
	color: #555; 
	font-weight: normal;
}

.input-box input {
	width: 4.38rem; 
	padding: 0.5rem; 
	font-size: 1.25rem; 
	text-align: center;
	border: 0.13rem solid #ccc;
	border-radius: 0.31rem;
}

.operator {
	padding-bottom: 0.31rem;
	color: #555;
}

.equation_text {
	padding-bottom: 0.31rem;
	font-weight: normal;
	color: lightgrey;
}

.circle-container {
	display: flex; 
	gap: 0.125rem;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-left: 1rem;}

.coin-button {
	display: flex;
	height: 3.5rem;
	width: 3.5rem;
	justify-content: center;
	align-items: center;
	border: 0;
	background-color: rgba(0, 0, 0, 0.0);
	padding: 0;
}

.coin-button img {
	pointer-events: none;
	height: 3.5rem;
	width: 3.5rem;
}

.coin-button:hover img {
	transition: transform 0.1s;
	transform: scale(1.2);
}

.coin-button:active img {
	transition: transform 0.0s;
	transform: scale(0.8);
}

.all-result-container {
	display: flex; 
	justify-content:space-between;
	gap: 0.5rem;
}

.result-container {
	border: 0.03rem solid gray;
	border-radius: 0.5rem;
	background-color: white;
	padding: 1.25rem;
	margin-bottom: 0.5rem;
	width: 33.4%;
}

.result-line-container {
	overflow: auto;
	height: 10rem;
}

#win-rate {
	color: #4AAD52;
	font-size: 2rem;
}

#lose-rate {
	color: #941B0C;
	font-size: 2rem;
}

#tie-rate {
	color: gray;
	font-size: 2rem;
}

.coin {
	height: 3.75rem;
	width: 3.75rem;
}

#clash {
	display: block;
	margin: 0.4rem auto;
	height: 3.5rem;
	width: 33%;
	font-size: 1.25rem;
	background-color: #555;
	color: white;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-family: sans-serif;
	box-shadow: 0 0.5rem 0.63rem rgba(0, 0, 0, 0.2);
}

button:disabled {
	opacity: 0.5;
}

h2 {
	flex-shrink: 0;
	margin-bottom: 0rem;
	margin-top: 0rem;
}

.result-container p {
	margin-bottom: 0.375rem;
	margin-top: 0.375rem;
}